body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

main {
    text-align: center;
}

header {
    background-color: #111;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#hexInput {
    width: 78%;
}

.btn {
    border-color: black;
    border: 2px solid;
    border-radius: 10px;
    color: black; /* Set default text color for buttons */
    padding: 10px 20px;
    font-weight: bold;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 0;
}

input:hover {
    border-color: white; /* Change bottom border color on hover */
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}

.redBtn:hover {
    background-color: rgba(255, 0, 0, 0.5); 
}

.greenBtn:hover {
    background-color: rgba(0, 255, 0, 0.5); 
}

.blueBtn:hover {
    background-color: rgba(0, 0, 255, 0.5); 
}

.color {
    text-transform: uppercase;
    color: inherit; /* Set text color for .color element to inherit from the body */
}

input {
    border: none;
    border-bottom: 2px solid; 
    background-color: transparent;
    color: inherit; /* Set text color for input to inherit from the body */
    transition: border-color 0.3s;
}

.colorValues{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.colorValue {
    display: flex;
    flex-direction: column;
    width: 33%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#randomizeColor {
    margin-bottom: 30px;
    padding: 30px;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: center;
}

.nav-center {
    display: flex;
    background-color: white;
    padding: 0 20px;
}

